

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
  box-sizing: border-box;
 
}

:root {
  --primary-color: #e12d26;
  --primary-color-dark: #e12d26;
  --text-dark: #0a0a0a;
  --text-light: #737373;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 1200px;
}


.btn {
  padding: 0.75rem 1.5rem;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5rem;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

body{
  margin-top: 80px;
  width: 100vw;
  align-items: center;
  justify-content: center;
  height: 100vw;
  overflow: hidden;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  color: var(--text-dark);
  background-color: var(--extra-light);
}


nav {
  background-color:  #f3f4f6;
  padding: 1rem 2rem;
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  color:   #0a0a0a;
}

.nav__logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color:  #0a0a0a;
  text-decoration: none;
}

.nav__links {
  display: flex;
  list-style: none;
}

.nav__links li {
  margin-left: 2rem;
}

.nav__links a {
  text-decoration: none;
  color:  #0a0a0a;
  font-weight: 500;
}

.nav__btns .btn {
  background-color: #0a0a0a;
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  font-weight: bold;
  transition: 0.3s;
}

.nav__btns .btn:hover {
  background-color:  #737373;
  color: var(--white);
}



.quiz-container {
  margin-top: 1vw;
  background-color: white;
  box-shadow: 0 0 10px 2px #737373;
  width: 600px;
  margin-left: 30vw;
  border-radius: 20px;
  border: #e12d26;
  color: #0a0a0a;
  overflow-y: auto; /* Allows vertical scrolling for content */
}

.quiz-header {
  padding: 2vw;
}

ul li label {
  cursor: pointer;
  padding: 6px;
  display: block;
  border-radius: 5px;
}

ul li label.correct {
  background-color: green;
  color: white;
}

ul li label.wrong {
  background-color: rgb(235, 37, 37);
  color: white;
}

h2{
  padding: 1rem;
  text-align: center;
  
}
ul{
  list-style-type: none;
  padding: 0;
}
ul li{
  font-size: 1.2rem;
 
}
li{
  display: flex;
   align-items: center;
   
}

#quiztime
{
  margin-top: 4vw;
  text-align: center;
  color:  #e12d26;
  padding-top: 2vw;
  font-size: 2vw;
  padding-left: 1vw;
}

input[type=checkbox] {
  margin: 4px 0 0;
  line-height: normal;
  margin-right: 10px;
  width: 15px;
  height: 15px;
}


#prev
{
  width: 60px;
  height: 50px;
  font-size: 25px;
  padding-bottom: 60px;
  border-radius: 100%;
 
}
.next button {
  --color: #e12d26;
  display: inline-block;
  width: 8em;
  height: 2em;
  line-height: 2.5em;
  margin: 10px;
  margin-left: 10vh;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 23px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
 }
  #submit{
  padding-bottom: 50px;
 }
 .next  button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 .next button:hover {
  color: #fff;
 }
 
 .next button:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 .next button:hover:before {
  top: -30px;
  left: -30px;
 }
 
 .next  button:active:before {
  background: rgb(221, 174, 185);
  transition: background 0s;
 }
.container {
  --input-focus: #2d8cf0;
  --input-out-of-focus: #ccc;
  --bg-color: #fff;
  --bg-color-alt: #666;
  --main-color: #323232;
  position: relative;
  cursor: pointer;
}

.container input {
  position: absolute;
  opacity: 0;
}

.checkmark {
  width: 30px;
  height: 30px;
  position: relative;
  top: 0;
  left: 0;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--input-out-of-focus);
  transition: all 0.3s;
  margin-right: 20px;
 
}

.container input:checked ~ .checkmark {
  background-color: var(--input-focus);
}

.checkmark:after {
  content: "";
  width: 7px;
  height: 15px;
  position: absolute;
  top: 2px;
  left: 8px;
  display: none;
  border: solid var(--bg-color);
  border-width: 0 2.5px 2.5px 0;
  transform: rotate(45deg);
}

.container input:checked ~ .checkmark:after {
  display: block;
}
